.display {
    display: flex;
    &__flexcentre {
        justify-content: center;
        align-items: center;
    }
    &__flexbetween {
        justify-content: center;
        align-items: center;
    }
}