@mixin shrik__regular {
    font-family: shrikhand;
    src: url(/police/shrikhand/Shrikhand-Regular.ttf);
}

@mixin roboto__regular {
    font-family: Roboto;
    src: url(/police/roboto/Roboto-Regular.ttf);
}

@mixin roboto__light {
    font-family: Roboto;
    src: url(/police/roboto/Roboto-Light.ttf);
}

@mixin roboto__bold {
    font-family: Roboto;
    src: url(/police/roboto/Roboto-Bold.ttf);
}

@mixin roboto__medium--italic {
    font-family: Roboto;
    src: url(/police/roboto/Roboto-MediumItalic.ttf);
}


@mixin shrik {
    @include shrik__regular;
    font-size: $fontsize;
}

@mixin shriktete {
    @include shrik__regular;
    font-size: $fontsize*1.8;
}

@mixin shrikmenu {
    @include shrik__regular;
    font-size: $fontsize*1.7;
}

@mixin titreh1 {
    @include roboto__medium--italic;
    font-weight: $bold*9;
    font-size: $fontsize*1.4;
}

@mixin titre--acc {
    @include roboto__bold;
    font-weight: $bold*9;
    font-size: $fontsize;
}

@mixin textesearch {
    @include roboto__regular;
    font-weight: $bold*5;
    font-size: $fontsize*1.1;
}

@mixin texteheader {
    @include roboto__light;
    font-weight: $bold*3;
    font-size: $fontsize*1.1;
}

@mixin textebtn {
    @include roboto__regular;
    font-weight: $bold*4;
    font-size: $fontsize;
}

@mixin nouveau {
    @include roboto__regular;
    font-weight: $bold*6;
    font-size: $fontsize;
}

@mixin titrecarte {
    @include roboto__regular;
    font-weight: $bold*7;
    font-size: $fontsize;
}

@mixin textecarte {
    @include roboto__light;
    font-weight: $bold*4;
    font-size: $fontsize*1.1;
}

@mixin titremenusection {
    @include roboto__light;
    font-weight: $bold*3;
    font-size: $fontsize*1.2;
}

@mixin titremenu {
    @include roboto__regular;
    font-weight: $bold*9;
    font-size: $fontsize;
}

@mixin textemenu {
    @include roboto__light;
    font-weight: $bold*4;
    font-size: $fontsize*0.9;
}

@mixin textefootergras {
    @include roboto__light;
    font-weight: $bold*5;
    font-size: $fontsize;
}

@mixin textefooternogras {
    @include roboto__light;
    font-weight: $bold*3;
    font-size: $fontsize;
}

