.footer {
    width: 80%;
    height: auto;
    color: $white;
    background-color: $black;
    padding-bottom: 30px;
    padding-left: 20px;
    &__logo {
        @include shrik;
        color: $white;
    }
    &__icone {
        justify-content: left;
        & p {
        @include textefootergras;
        margin-top: 0;
        margin-bottom: 10px;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
        &--posfork {
        padding-right: 15px;
        margin-bottom: 10px;
        }
        &--poshand {
            padding-right: 12px;
            margin-bottom: 10px
        }
    }
    &__pasgras {
        @include textefooternogras;
        & p {
            margin: 0 0 10px 0;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}