#logo {
    width: 80%;
    padding-bottom: 5%;
}
.sectionheader {
    width: 90%;
    height: auto;
    & .carteheader {
        width: 100%;
        height: 250px;
        & img {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
    }
}
.icone i {
    position: relative;
    right: 80px;
    color: $black;
    &:hover {
        cursor: pointer;
    }
}
