#entete {
    @include shriktete;
    margin: 0;
}
.sectionheader {
    width: 90%;
    height: auto;
    & .carteheader {
        width: 100%;
        height: $height*25;
        & img {
            width: 100%;
            height: $height*25;
            object-fit: cover;
        }
    }
}
.icone i {
    position: relative;
    right: 90px;
    color: $black;
    &:hover {
        cursor: pointer;
    }
    &:active {
        height: $height*2.5;
        width: $width*2.5;
        border-radius: 15px;
        background-color: $black;
        opacity: 0.4;
        animation: return 200ms;
    }
}
