.sectionmenu {
    width: 90%;
    height: auto;
    background-color: $griscarte;
    border-radius: 35px 35px 0 0;
    margin-top: $marg*-3.5;
    padding-top: $pad*1.5;
    padding-bottom: $pad*6;
    & h1 {
        @include shrikmenu;
    }
    & i {
        padding-right: $pad*2;
    }
}
.carte {
    @include cartemenu;
    &__titre {
        @include titremenusection;
        & p {
        margin-left: 5%;
        &::after {
            content: "";
            width: $width*4.5;
            height: $height*0.3;
            background-color: $tertiaire;
            position: absolute;
            left: 3rem;
            margin-top: $marg*2.8;
            }
        }
        &--border {
            border-bottom: 3px solid $tertiaire;
        }
    }
    &__menu {
        height: $height*7;
        flex: 1;
        overflow: hidden;
        text-overflow: clip '...';
        white-space: nowrap;
        & h3 {
            @include titremenu;
        }
        & p {
            @include textemenu;
        }
        &--prix {
            @include titremenu;
            margin-top: $marg*2.5;
            margin-left: $marg;
            padding-right: $pad*9;
        }
    }
        &__check {
        background-color: $tertiaire;
        min-width: $width*6;
        height: $height*7;
        margin: $marg*-6;
        transition-duration: .6s;
    }
    
    &:hover &__check {
        margin-right: 0;
    }
    
    &__anime {
        height: $height*2.5;
        width: $width*2.5;
        background-color: $white;
        padding-left: $pad*2;
        @include borderrad20;
        transform: rotate(-360deg);
        transition-duration: .6s;
    }
    
    &:hover &__anime {
        transform: rotate(0);
    }
    
    &__icone {
        color: $tertiaire;
    }
}

.carteheader__btn {
    margin-top: $marg*3;
}

a {
    display: block;
}