.footer {
    width: 90%;
    height: auto;
    color: $white;
    background-color: $black;
    padding-bottom: $size*3;
    padding-left: $size*2;
    &__logo {
        @include shrik;
        color: $white;
    }
    &__icone {
        justify-content: left;
        & p {
        @include textefootergras;
        margin-top: 0;
        margin-bottom: $size;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
        &--posfork {
        padding-right: $size*1.5;
        margin-bottom: $size;
        }
        &--poshand {
            padding-right: $size*1.2;
            margin-bottom: $size;
        }
    }
    &__pasgras {
        @include textefooternogras;
        & p {
            margin: 0 0 $size 0;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}