#logo {
    width: 95%;
    padding-bottom: 5%;
}
.formulaire {
    width: 80%;
    height: $height*5;
    background-color: $grissearch;
    @include boxshadowtop;
    &__position {
        margin-left: $marg*5;
    }
    &__searchbar {
        background-color: $grissearch;
        border: none;
        outline-style: none;
        @include textesearch;
        &--pos {
            margin-top: $marg*1.3;
            padding-left: $marg*1.5;
        }
    }
}
.carteheader {
    width: 80%;
    height: $height*30;
    background-color: $griscarte;
    &__titre {
        @include titreh1;
        text-align: center;
        &--pos {
            padding-left: $pad*1.5;
            padding-right: $pad*1.5;
            margin-top: $marg*3.5;
        }
    }
    &__texte {
        @include texteheader;
        text-align: center;
        &--pos {
            padding: 0 $pad*3 $pad $pad*3;
        }
    }
    & p {
        margin: 0;
        }
    &__btn {
        @include btnheader;
        @include textebtn;
        &--pos {
            margin-bottom: $marg*3;
        }
    }
}
