.sectionfonct {
    width: 80%;
    height: auto;
    margin-bottom: $marg*3.5;
    }

.sectiondesk {
    @media screen and (min-width:1230px) {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
    }
}

.cartefonct {
    @include cartefonct;
    @include boxshadow;
    @media screen and (min-width:600px) {
        margin-left: $marg;
        margin-right: $marg*3;
    }
    &__titresection {
        @include titreh2;
        & p {
            margin-left: -10px;
            margin-top: $marg*2;
            padding-top: $pad*2;
        }
    }
    &__titrecarte {
        @include titrecarte;
    }
    &__icone {
        margin-right: $marg*2.5;
        margin-left: $marg*2.5;
        color: grey;
    }
    &__number {
        width: $width*2.5;
        height: $height*2.5;
        background-color: $primaire;
        color: $white;
        margin-left: -10px;
        @include borderrad20;
        align-items: center;
        &--icone {
            padding-left: $pad*0.8;
            margin-top: $marg*0.4;
        }
    }
}

.sectionresto {
    width: 90%;
    height: auto;
    background-color: $griscarte;
    padding-bottom: $pad*4;
    }
.carteresto {
    @include carteresto;
    @include boxshadow;
    position: relative;
    & img {
        @include carterestoimg;
    }
    &__titresection {
        @include titreh2;
        & p {
            padding-top: $pad*5;
            margin-top: 0;
            margin-left: 5%;
            justify-content: left;
        }
    }
    &__badge {
        @include nouveau;
        height: $height*3.5;
        background-color: $tertiaire;
        color: darken($tertiaire, 35%);
        padding: $pad;
        border-radius: 3px;
        position: absolute;
        right: 15px;
        margin-top: $marg*1.5;
    }
    &__carte {
        @include carteresto;
        @include boxshadow;
        & img {
            @include carterestoimg;
        }
        &--pos {
            height: $height*7;
            margin-left: $marg*1.5;
            color: $black;
        }
        &--titre {
            @include titrecarte;
        }
        & h3 {
            margin-bottom: 0;
            margin-top: $marg;
        }
        &--texte {
            @include textecarte;
        }
        & p {
            margin-top: 0;
        }
        &--icone {
        margin-right: $marg*2;
        margin-bottom: $marg*2;
            &:hover .fa {
                background: linear-gradient(175deg, $secondaire, $primaire);
                }
            }
    &:hover {
        cursor: pointer;
        }
    }
    &__responsive {
        width: 100%;
        align-items: center;
        @media screen and (min-width:1230px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 90%;
        }
    }
}
