.sectionfonct {
    width: 80%;
    height: auto;
    margin-bottom: $size*3.5;
    margin-top: $size*5;
    }

.sectiondesk {
    @media screen and (min-width:1230px) {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
        }
    }

.cartefonct {
    @include cartefonct;
    @include boxshadow;
    &:hover {
        cursor: pointer;
    }
    @media screen and (min-width:600px) {
        margin-left: $size;
        margin-right: $size*3;
    }
    &__titresection {
        @include titre--acc;
        margin-top: $size*-2;
    }
    &__titrecarte {
        @include titrecarte;
    }
    &__icone {
        margin-right: $size*2.5;
        margin-left: $size*2.5;
        color: grey;
    }
    &__number {
        width: $size*2.5;
        height: $size*2.5;
        background-color: $primaire;
        color: $white;
        margin-left: $size*-1;
        @include borderrad20;
        align-items: center;
        &--icone {
            padding-left: $size*0.8;
            margin-top: $size*0.4;
        }
    }
}

.sectionresto {
    width: 90%;
    height: auto;
    background-color: $griscarte;
    padding-bottom: $size*4;
    }
.carteresto {
    @include carteresto;
    @include boxshadow;
    position: relative;
    & img {
        @include carterestoimg;
    }
    &__titresection {
        @include titre--acc;
        & h1 {
            padding-top: $size*5;
            margin-top: 0;
            margin-left: 5%;
            justify-content: left;
        }
    }
    &__badge {
        @include nouveau;
        height: $size*3.5;
        background-color: $tertiaire;
        color: darken($tertiaire, 35%);
        padding: $size;
        border-radius: $size*0.3;
        position: absolute;
        right: $size*1.5;
        margin-top: $size*1.5;
    }
    &__carte {
        @include carteresto;
        @include boxshadow;
        & img {
            @include carterestoimg;
        }
        &--pos {
            height: $size*7;
            margin-left: $size*1.5;
            color: $black;
        }
        &--titre {
            @include titrecarte;
        }
        & h3 {
            margin-bottom: 0;
            margin-top: $size;
        }
        &--texte {
            @include textecarte;
        }
        & p {
            margin-top: 0;
        }
        
        &--iconepos {
        margin-right: $size*2;
        margin-bottom: $size*2;
        }
        & .fa-heart {
            color: $black;
            &:hover::before {
            @include heart;
            }
        }
        &:hover {
            cursor: pointer;
        }
    }
    &__responsive {
        width: 100%;
        align-items: center;
        @media screen and (min-width:1230px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 90%;
        }
    }
}
