/* Général */

@mixin borderrad20 {
    border-radius: $size*2;
}

@mixin margbot20 {
    margin-bottom: $size*2;
}

@mixin boxshadow {
    box-shadow: $size*0.2 $size*0.3 $size*1.6 $size*-1.2 $black;
}
@mixin boxshadowtop {
    box-shadow: 0 $size*0.3 $size*0.6 $size*-0.6 $black inset;
} 


/* carte des restaurants d'acceuil */


@mixin carteresto {
    width: 90%;
    height: $size*25;
    background-color: $white;
    @include margbot20;
    @include borderrad20;
    text-decoration: none;
    @media screen and (min-width:1230px) {
        margin-left: $size;
        margin-right: $size;
    }
}
@mixin carterestoimg {
    object-fit: cover;
    object-position: 50% 60%;
    width: 100%;
    height: $size*18;
    border-radius: $size*2.0 $size*2.0 0 0;
}

/* bouton header */

@mixin btnheader {
    width: 60%;
    height: $size*5;
    color: $white;
    border-radius: $size*2.5;
    background: linear-gradient(175deg, $secondaire, $primaire);
    border: none;
    box-shadow: 0 $size*0.4 $size*1.6 $size*-0.8 $black;
    &:hover {
        cursor: pointer;
        box-shadow: none;
    }

}

/* carte Fonctionnement */

@mixin cartefonct {
    width: 100%;
    height: $size*7;
    background-color: $griscarte;
    margin-bottom: $size*2.5;
    @include borderrad20;
    justify-content: left;
    margin-left: 0;
    &:hover {
        background-color: lighten($primaire, 35%);
        cursor: pointer;
        
        i::before {
            color: $primaire;
        }
    }
}

/* carte Menu */

@mixin cartemenu {
    width: 94%;
    min-height: $size*7;
    background-color: $white;
    margin-bottom: $size*1.5;
    @include borderrad20;
    @include boxshadow;
    margin-left: 0;
    cursor: pointer;
    overflow: hidden;
    animation: carteapparition .6s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    transform: scale(0);
    & h3 {
        margin-top: $size*1.2;
        margin-bottom: 0;
        margin-left: $size;
    }
    & p {
        margin-top: $size*0.5;
        margin-left: $size;
    }
}

@mixin heart {
    opacity: 1;
    background: linear-gradient(0deg, $secondaire, $primaire);
    background-position: bottom;
    animation: heart .3s ease-out;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
}