/* Général */

@mixin borderrad20 {
    border-radius: 20px;
}

@mixin margbot20 {
    margin-bottom: $marg*2;
}

@mixin boxshadow {
    box-shadow: 2px 3px 16px -12px $black;
}
@mixin boxshadowtop {
    box-shadow: 0 3px 6px -6px $black inset;
} 


/* carte des restaurants d'acceuil */


@mixin carteresto {
    width: 90%;
    height: $height*25;
    background-color: $white;
    @include margbot20;
    @include borderrad20;
    text-decoration: none;
    @media screen and (min-width:1230px) {
        margin-left: $marg;
        margin-right: $marg;
    }
}
@mixin carterestoimg {
    object-fit: cover;
    object-position: 50% 60%;
    width: 100%;
    height: $height*18;
    border-radius: 20px 20px 0 0;
}

/* bouton header */

@mixin btnheader {
    width: 60%;
    height: $height*5;
    color: $white;
    border-radius: 25px;
    background: linear-gradient(175deg, $secondaire, $primaire);
    border: none;
    box-shadow: 0 4px 16px -8px $black;
    &:hover {
        cursor: pointer;
        box-shadow: none;
    }

}

/* carte Fonctionnement */

@mixin cartefonct {
    width: 100%;
    height: $height*7;
    background-color: $griscarte;
    margin-bottom: $marg*2.5;
    @include borderrad20;
    justify-content: left;
    margin-left: 0;
    &:hover {
        background-color: lighten($primaire, 35%);
        cursor: pointer;
        
        i::before {
            color: $primaire;
        }
    }
}

/* carte Menu */

@mixin cartemenu {
    width: 94%;
    min-height: $height*7;
    background-color: $white;
    margin-bottom: $marg*1.5;
    @include borderrad20;
    @include boxshadow;
    margin-left: 0;
    cursor: pointer;
    overflow: hidden;
    animation: carteapparition .6s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    transform: scale(0);
    & h3 {
        margin-top: $marg*1.2;
        margin-bottom: 0;
        margin-left: $marg;
    }
    & p {
        margin-top: $marg*0.5;
        margin-left: $marg;
    }
}