/* Couleur */
$griscarte: rgb(246, 246, 246);
$grissearch: rgb(234, 234, 234);
$black: black;
$white: white;
$primaire: #9356DC;
$secondaire:#FF79DA;
$tertiaire: #99E2D0;

/* Police */
$fontsize: 1rem;
$bold: 100;

/* Position */
$size: 10px;

/* Animations */

$carte: 9;
$delay: 150ms;





